/*Normalize*/
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
  color: white;
  font-family: "Smooch Sans", sans-serif; }

body {
  background-color: #5700e4; }
  body header h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 3rem; }
  body .imcCalculator {
    border-radius: 30px;
    background-color: darkblue;
    height: 25rem;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-direction: column; }
    body .imcCalculator h2 {
      height: 30%;
      font-size: 2rem;
      text-align: center;
      margin-top: 35px; }
    body .imcCalculator form {
      height: 70%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center; }
      body .imcCalculator form input {
        color: black;
        width: 16rem;
        height: 30px;
        font-size: 1.5rem; }
      body .imcCalculator form .submitButton {
        width: 8rem;
        color: black;
        font-size: 1rem; }
    body .imcCalculator p {
      text-align: center;
      font-size: 1.5rem; }
    body .imcCalculator #containerResult {
      margin-top: 5px; }
      body .imcCalculator #containerResult p {
        font-size: 1.5rem;
        padding: 0px 20px 0px 20px;
        margin-bottom: 20px; }
  body div {
    margin-top: 50px; }
    body div h2 {
      text-align: center; }

.nav {
  background-color: darkblue;
  display: flex;
  align-items: center;
  width: 100%; }
  .nav h2 {
    width: 30%;
    text-align: center;
    font-size: 2rem; }
  .nav ul {
    width: 70%;
    display: flex;
    height: 70px;
    justify-content: center;
    align-items: center;
    gap: 10%; }
    .nav ul li .link {
      font-size: 1.5rem; }

.nameOfActivity {
  text-align: center;
  font-size: 1.5rem; }

.diff {
  text-align: center;
  font-size: 1.3rem; }

#filterForm {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  margin-bottom: 50px; }
  #filterForm select {
    color: black;
    width: 10rem;
    font-size: 1.5rem; }
    #filterForm select option {
      color: black;
      font-size: 1.5rem; }
  #filterForm input {
    width: 6rem;
    color: black;
    font-size: 1rem; }

.containerFormulario {
  width: 45rem;
  background-color: darkblue;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 30px; }
  .containerFormulario h2 {
    height: 30%;
    font-size: 2rem;
    margin-top: 35px; }
  .containerFormulario form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .containerFormulario form label {
      margin-top: 1rem;
      font-size: 1.5rem; }
    .containerFormulario form input {
      color: black;
      width: 16rem;
      height: 30px;
      font-size: 1rem; }
    .containerFormulario form #registerSubmit {
      width: 8rem;
      color: black;
      font-size: 1rem;
      margin-bottom: 1rem; }

#score {
  width: 20%;
  margin-right: 5%; }

@media screen and (max-width: 420px) {
  nav {
    width: 100%; }
  body .imcCalculator {
    height: 400px;
    margin-left: 0%;
    margin-right: 0%; } }

.container h1 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
  font-size: 3rem; }

.container .search form {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  width: auto; }
  .container .search form input {
    font-family: "Smooch Sans", sans-serif;
    color: black;
    height: 2rem;
    font-size: 14px; }
  .container .search form button {
    color: #157203;
    font-size: 1.5rem;
    width: 2rem;
    font-weight: bolder; }

.li-container ul {
  display: flex;
  flex-direction: column;
  gap: 20px; }
  .li-container ul li {
    border-bottom: black 1px solid;
    display: flex;
    flex-direction: column;
    background-color: darkblue;
    width: 90%;
    margin: auto;
    gap: 10px;
    padding: 2%; }
    .li-container ul li p {
      word-wrap: break-word;
      height: auto; }
    .li-container ul li button {
      align-self: flex-end;
      margin-right: 30px;
      color: #af0101;
      font-size: 1.5rem;
      width: 2rem;
      font-weight: bolder; }

.empty p {
  text-align: center; }
