:root {
  --color-claro: #99ff00;
  --color-oscuro: #005e00;
  --color-focus: #70b607; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: VT323;
  color: var(--color-claro);
  list-style-type: none;
  text-decoration: none; }

.p {
  margin: auto;
  font-size: 3rem; }

body {
  background-color: var(--color-oscuro);
  background-image: url(../img/patron-fallout.png);
  position: relative;
  height: 100%;
  width: 100%; }

.mainSection {
  display: flex;
  padding-left: 10%;
  padding-right: 10%;
  margin-top: 30px; }

.content, .bodyRegister {
  position: relative;
  padding: 5%; }

.nav {
  display: flex;
  justify-content: space-around;
  border-bottom: var(--color-claro) 1px solid; }
  .nav .logo {
    order: 1;
    width: 400px; }
  .nav .liContainer {
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center; }
    .nav .liContainer li {
      padding: 10px; }
      .nav .liContainer li:hover {
        border-bottom: var(--color-claro) solid 1px;
        border-radius: 10px; }
    .nav .liContainer li a {
      font-size: 4rem;
      font-weight: bold; }
      .nav .liContainer li a:hover {
        text-shadow: var(--color-claro) 1px 1px 1px; }
  .nav h2 {
    width: 20%;
    font-size: 7rem; }
  .nav h3 {
    align-self: center;
    font-size: 3.3rem;
    order: 2; }
  .nav button {
    width: 24rem;
    height: 4.5rem;
    background-color: var(--color-claro);
    color: var(--color-oscuro);
    font-size: 2rem;
    border-radius: 20px;
    order: 3;
    border-radius: 20px;
    width: 14rem; }
    .nav button:focus {
      background-color: var(--color-claro);
      color: var(--color-oscuro); }

header {
  margin-top: 80px; }
  header .title {
    font-size: 7rem;
    text-align: center; }

.imcCalculator {
  display: flex;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  border: solid 2px;
  width: 40%;
  height: 43rem;
  margin-right: 0; }
  .imcCalculator h2 {
    margin-top: 50px;
    font-size: 2.5rem;
    text-align: center; }
  .imcCalculator form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    gap: 40px;
    align-items: center;
    margin-top: 40px; }
    .imcCalculator form input {
      width: 24rem;
      height: 4.5rem;
      background-color: var(--color-claro);
      color: var(--color-oscuro);
      font-size: 2rem;
      border-radius: 20px; }
      .imcCalculator form input:focus {
        background-color: var(--color-claro);
        color: var(--color-oscuro); }
    .imcCalculator form .submitButton {
      background-color: transparent;
      border: none;
      color: var(--color-claro);
      font-size: 2rem;
      width: 18rem; }
      .imcCalculator form .submitButton:hover {
        text-shadow: var(--color-claro) 1px 1px 1px;
        border-bottom: var(--color-claro) solid 1px;
        border-radius: 10px; }

#resultOfCalculator {
  font-size: 2rem;
  align-self: center;
  margin-top: 30px; }

.container {
  padding: 5%; }
  .container h1 {
    font-size: 4rem;
    text-align: center;
    margin-top: 10px;
    border-bottom: var(--color-claro) 1px solid; }
  .container .empty p {
    font-size: 2rem; }
  .container .search {
    margin-top: 70px; }
    .container .search form {
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 50px; }
      .container .search form .btn-add {
        width: 4rem;
        height: 4rem;
        border-radius: 20px;
        font-weight: bold;
        color: var(--color-oscuro);
        background-color: var(--color-claro);
        font-size: 2rem; }
        .container .search form .btn-add:focus {
          background-color: var(--color-claro);
          color: var(--color-oscuro); }
      .container .search form input {
        width: 24rem;
        height: 4.5rem;
        background-color: var(--color-claro);
        color: var(--color-oscuro);
        font-size: 2rem;
        border-radius: 20px; }
        .container .search form input:focus {
          background-color: var(--color-claro);
          color: var(--color-oscuro); }
        .container .search form input:focus {
          background-color: var(--color-claro);
          color: var(--color-oscuro); }

.li-container {
  margin-top: 40px; }
  .li-container ul li {
    display: flex;
    justify-content: space-between;
    border-bottom: var(--color-claro) 1px solid;
    margin-top: 20px; }
    .li-container ul li p {
      font-size: 2rem; }
    .li-container ul li button {
      width: 2.5rem;
      height: 2.5rem;
      font-weight: bold;
      color: #9e0000;
      background-color: var(--color-claro);
      font-size: 2rem; }
      .li-container ul li button:focus {
        background-color: var(--color-claro);
        color: #9e0000; }

footer p {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 30px; }
  footer p a {
    color: var(--color-focus);
    text-decoration: underline 1px var(--color-focus); }

#registerForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15%;
  border: solid 2px;
  width: 40%;
  height: 43rem; }
  #registerForm label {
    font-weight: bold;
    font-size: 3rem;
    margin-top: 40px; }
  #registerForm input {
    width: 24rem;
    height: 4.5rem;
    background-color: var(--color-claro);
    color: var(--color-oscuro);
    font-size: 2rem;
    border-radius: 20px; }
    #registerForm input:focus {
      background-color: var(--color-claro);
      color: var(--color-oscuro); }
  #registerForm #registerSubmit {
    background-color: transparent;
    border: none;
    color: var(--color-claro);
    font-size: 2rem; }
    #registerForm #registerSubmit:hover {
      text-shadow: var(--color-claro) 1px 1px 1px;
      border-bottom: var(--color-claro) solid 1px;
      border-radius: 10px; }

/*Media Queries de 420px*/
@media screen and (max-width: 420px) {
  #switchButton {
    width: 16rem;
    height: 2.5rem;
    background-color: var(--color-claro);
    color: var(--color-oscuro);
    font-size: 1.3rem;
    margin-bottom: 20px; }
    #switchButton:focus {
      background-color: var(--color-claro);
      color: var(--color-oscuro); }
  .nav {
    flex-direction: column; }
    .nav .logo {
      order: 1;
      width: 280px;
      margin: auto; }
    .nav ul {
      order: 2;
      flex-direction: column;
      justify-content: center;
      align-self: center; }
      .nav ul li a {
        font-size: 1rem; }
    .nav h3 {
      font-size: 2rem;
      order: 3;
      width: 100%;
      align-self: center;
      text-align: center; }
  header .title {
    font-size: 2.2rem;
    margin-bottom: 40px; }
  #registerForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    #registerForm label {
      font-size: 1.7rem;
      margin-top: 30px; }
    #registerForm input {
      width: 16rem;
      height: 2.5rem;
      background-color: var(--color-claro);
      color: var(--color-oscuro);
      font-size: 1.3rem;
      margin-bottom: 20px; }
      #registerForm input:focus {
        background-color: var(--color-claro);
        color: var(--color-oscuro); }
  .nav .liContainer li a {
    font-size: 2rem; }
  .imcCalculator form input {
    width: 16rem;
    height: 2.5rem;
    background-color: var(--color-claro);
    color: var(--color-oscuro);
    font-size: 1.3rem;
    margin-bottom: 20px; }
    .imcCalculator form input:focus {
      background-color: var(--color-claro);
      color: var(--color-oscuro); } }

.here {
  color: var(--color-focus); }
