
$font-style: 'Smooch Sans', sans-serif;

/*Normalize*/
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    color: rgb(255, 255, 255);
    font-family: $font-style;
}
body{
    background-color: #5700e4;
    header{
        h1{
            text-align: center;
            margin-top: 50px;
            margin-bottom: 30px;
            font-size: 3rem;
        }
    }
    .imcCalculator{
        border-radius: 30px;
        background-color: darkblue;
        height: 25rem;
        margin-left: 10%;
        margin-right: 10%;
        display: flex;
        flex-direction: column;
        h2{
            height: 30%;
            font-size: 2rem;
            text-align: center;
            margin-top: 35px;
        }
        form{
            height: 70%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            input{
                color: black;
                width: 16rem;
                height: 30px;
                font-size: 1.5rem;
            }
            .submitButton{
                width: 8rem;
                color: black;
                font-size: 1rem;
            }
        }
        p{
            text-align: center;
            font-size: 1.5rem;
        }
        #containerResult{
            margin-top: 5px;
            p{
                font-size: 1.5rem;
                padding: 0px 20px 0px 20px;
                margin-bottom: 20px;
            }
        }
    }
    div{
        margin-top: 50px;
        h2{
            text-align: center;
        }
    }
}

.nav{
    background-color: darkblue;
    display: flex;
    align-items: center;
    width: 100%;
    h2{
        width: 30%;
        text-align: center;
        font-size: 2rem;
    }
    ul{
        width: 70%;
        display: flex;
        height: 70px;
        justify-content: center;
        align-items: center;
        gap: 10%;
        li{
            .link{
                font-size: 1.5rem;
            }
        }
    }
}

.nameOfActivity{
    text-align: center;
    font-size: 1.5rem;
}
.diff{
    text-align: center;
    font-size: 1.3rem;
}
#filterForm{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    select{
        color: black;
        width: 10rem;
        font-size: 1.5rem;
        option{
            color: black;
            font-size: 1.5rem;
        }
    }
    input{
        width: 6rem;
        color: black;
        font-size: 1rem;
    }
}
.containerFormulario{
    width: 45rem;
    background-color:darkblue;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    h2{
        height: 30%;
        font-size: 2rem;
        margin-top: 35px;
    }
    form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        label{
            margin-top: 1rem;
            font-size: 1.5rem;
        }
        input{
            color: black;
            width: 16rem;
            height: 30px;
            font-size: 1rem;
        }
        #registerSubmit{
            width: 8rem;
            color: black;
            font-size: 1rem;
            margin-bottom: 1rem;
        }
    }
}
#score{
    width: 20%;
    margin-right: 5%;
}

@media screen and (max-width: 420px){
    nav{
        width: 100%;
    }
    body .imcCalculator{
        height: 400px;
        margin-left: 0%;
        margin-right: 0%;
    }

}

.container h1{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 3rem;
    
}

.container .search{
    form{
        display: flex;
        justify-content: center;
        gap: 20px;
        align-items: center;
        width: auto;
        input{
            font-family: $font-style;
            color: black;
            height: 2rem;
            font-size: 14px;
        }
        button{
            color: rgb(21, 114, 3);
            font-size: 1.5rem;
            width: 2rem;
            font-weight: bolder;
        }
    }
    
}
.li-container{
    ul{
        display: flex;
        flex-direction: column;
        gap: 20px;
        li{
            border-bottom: black 1px solid;
            display: flex;
            flex-direction: column;
            background-color: darkblue;
            width: 90%;
            margin: auto;
            gap: 10px;
            padding: 2%;
            p{
                word-wrap: break-word;
                height: auto;
            }
            button{
                align-self: flex-end;
                margin-right: 30px;
                color: rgb(175, 1, 1);
                font-size: 1.5rem;
                width: 2rem;
                font-weight: bolder;
            }
        }
    }
}
.empty{
    p{
        text-align: center;
    }
}