:root {
    --color-claro: #99ff00;
    --color-oscuro: #005e00;
    --color-focus: #70b607;
}
$paleta:(
verde-oscuro: var(--color-oscuro), 
verde-claro: var(--color-claro),
verde-focus: var(--color-focus),
rojo-oscuro: rgb(158, 0, 0),
color-verdoso: #dd5a5a
);



$font-style: VT323;


@mixin input-desktop {
    width: 24rem;
    height: 4.5rem;
    background-color: map-get($paleta, verde-claro );
    color: map-get($paleta, verde-oscuro );
    font-size: 2rem;
    &:focus{
        background-color: map-get($paleta, verde-claro );
        color: map-get($paleta, verde-oscuro );
    }
}
@mixin input-mobible {
    width: 16rem;
    height: 2.5rem;
    background-color: map-get($paleta, verde-claro );
    color: map-get($paleta , verde-oscuro );
    font-size: 1.3rem;
    margin-bottom: 20px;
    &:focus{
        background-color: map-get($paleta, verde-claro );
        color: map-get($paleta, verde-oscuro );
    }
}
@mixin submit-boton-desktop{
    background-color: transparent;
    border: none;
    color: map-get($paleta, verde-claro );
    font-size: 2rem;
    &:hover{
        text-shadow: map-get($paleta, verde-claro ) 1px 1px 1px;
        border-bottom: map-get($paleta, verde-claro ) solid 1px;
        border-radius: 10px;
    }
}




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-style;
    color: map-get($paleta, verde-claro );
    list-style-type: none;
    text-decoration: none;

}

body{
    background-color: map-get($paleta, verde-oscuro );
    background-image: url(../img/patron-fallout.png);
    position: relative;
    height: 100%;
    width: 100%;
}



.content, .bodyRegister{
    position: relative;
    padding: 5%;
}
.nav{
    display: flex;
    justify-content: space-around;
    border-bottom: map-get($paleta, verde-claro ) 1px solid;
    .logo{
        order: 1;
    }
    .liContainer{
        width: 60%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        order: 2;
        li{
            padding: 10px;
            &:hover{
                border-bottom: map-get($paleta, verde-claro ) solid 1px;
                border-radius: 10px;
            }
        }
        li a{
            font-size: 4rem;
            font-weight: bold;
            &:hover{
                text-shadow: map-get($paleta, verde-claro ) 1px 1px 1px;
                
            }
        }
    }
    h2{
        width: 20%;
        font-size: 7rem;
    }
    h3{
        align-self: center;
        width: 20%;
        font-size: 3.3rem;
        order: 3;
    }
}
header{
    margin-top: 80px;
    .title{
        font-size: 7rem;
        text-align: center;
    }
}
.imcCalculator{
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    h2{
        margin-top: 50px;
        font-size: 2.5rem;
        text-align: center;
    }
    form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
        gap: 40px;
        align-items: center;
        margin-top: 40px;
        input{
            @include input-desktop;
        }
        .submitButton{
            @include submit-boton-desktop;
        }
    }
}

.container{
    padding: 5%;
    h1{
        font-size: 4rem;
        text-align: center;
        margin-top: 10px;
        border-bottom: map-get($paleta, verde-claro ) 1px solid;
    }
    .empty{
        p{
            font-size: 2rem;
        }
    }
    .search{
        margin-top: 70px;
        form{
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 50px;
            
            .btn-add{
                width: 2.5rem;
                height: 2.5rem;
                font-weight: bold;
                color: map-get($paleta, verde-oscuro );
                background-color: map-get($paleta, verde-claro );
                font-size: 2rem;
                &:focus{
                    background-color: map-get($paleta, verde-claro );
                    color: map-get($paleta, verde-oscuro );
                }
            }
            input{
                width: 16rem;
                height: 2.5rem;
                background-color: map-get($paleta, verde-claro );
                color: map-get($paleta, verde-oscuro );
                font-size: 1.3rem;
                &:focus{
                    background-color: map-get($paleta, verde-claro );
                    color: map-get($paleta, verde-oscuro );
                }
            }
        }
    }
}

.li-container{
    margin-top: 40px;
    ul{
        li{
            display: flex;
            justify-content: space-between;
            border-bottom: map-get($paleta, verde-claro ) 1px solid;
            margin-top: 20px;
            p{
                font-size: 2rem;
            }
            button{
                width: 2.5rem;
                height: 2.5rem;
                font-weight: bold;
                color: rgb(158, 0, 0);
                background-color: map-get($paleta, verde-claro );
                font-size: 2rem;
                &:focus{
                    background-color: map-get($paleta, verde-claro );
                    color: rgb(158, 0, 0);
                }
            }
        }
    }
}
#switchButton{
    @include input-desktop;
}
.containerFormulario{
    #registerForm{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        label{
            font-size: 3.5rem;
            margin-top: 40px;
        }
        input{
            @include input-desktop();
        }
    }
}

/*Media Queries de 420px*/


@media screen and (max-width: 420px){
    #switchButton{
        @include input-mobible;
    }
    .nav{
        .logo{
            order: 1;
            width: 280px;
            margin: auto;
        }
        flex-direction: column;
        ul{
            order: 2;
            flex-direction: column;
            justify-content: center;
            align-self: center;
            li{
                a{
                    font-size: 1rem;
                }
            }
        }
        h3{
            font-size: 2rem;
            order: 3;
            width: 100%;
            align-self: center;
            text-align: center;
        }
    }
    header{
        .title{
            font-size: 2.2rem;
            margin-bottom: 40px;
        }
    }
    .containerFormulario{
        #registerForm{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            label{
                font-size: 1.7rem;
                margin-top: 30px;
            }
            input{
                @include input-mobible;
            }
        }
    }
    .nav .liContainer li a{
        font-size: 2rem;
    }
    .imcCalculator form input{
        @include input-mobible;
    }
}

.here{
    color: map-get($paleta, verde-focus);
}
